/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 0px;
$header-height: 75px;
$footer-height: 125.5px;

body,
body.view-profile {
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: 0;
}

.btn,
.global-header .nav-links .secondary .btn {
  border-radius: 0;
}

%t-title {
  font-family: $font-family-title;
}

h1 {
  font-family: $serif !important;
}
h2,
h3,
h1 span,
h2 span,
h3 span,
.nav-item {
  font-family: $font-family-title;
}

#content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: 75px;
  }

  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header

header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
  }

  //background-color: #4c61bf;
  box-shadow: none;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: #fff;
}

.home>header .title {
  box-shadow: none;
}

.home>header .outer-wrapper {
  padding: 0;
}

.home>header .title>.heading-group {
  width: 100%;
  text-align: center;
}

.home>header .title>.heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up,
.home>header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses,
.find-courses .courses {
  padding-top: 0;
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;
}

////////////////// Course about page
.course-info header.course-profile {
  background: #fff;
  box-shadow: none;
  border-bottom: none;

  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

.course-info {
  .container {
    padding-bottom: 0;
  }

  .details .inner-wrapper>section {
    margin-bottom: 0;
  }

  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }

    strong {
      background-image: none;
      border-radius: 0;

      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}


/////////////////// Course search
.find-courses,
.university-profile {
  background-color: #fff;
}

.home .courses-container .courses .courses-listing {
  text-align: center;
}

.home .courses-container .courses .courses-listing .courses-listing-item {
  float: none;
  display: inline-block;
}

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}

.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}

.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}

.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

/////////////////// Footer
.wrapper-footer {
  box-shadow: none;
  border-top: none;
  padding: 0px;
  background-color: transparent;
  background: none;
  clear: none;

  .wrapper-logo {
    display: none;
  }

  .copyright {
    display: none;
  }

  .nav-legal ul {
    display: inline-block;
  }

  footer#footer-openedx .footer-about-openedx a {
    float: none;
  }
}

.home header {
  box-shadow: none;
  background:transparent !important;;
  background-color:transparent !important;
}

.home>header .title {
  background:transparent !important;;
  background-color:transparent !important;
}

@media (max-width: 992px){
  #content.content-wrapper{
    margin-top: 0;
  }
}

@media (min-width: 992px){
  #content.content-wrapper{
    margin-top: 70px;
  }
}


.btn, .global-header .nav-links .secondary .btn {
  border-radius: 4px;
}

html, body{
  height: 100%;
}

.height-total{
  height: 100%;
}
.login-register-content{
    display: flex !important;
    flex-wrap: inherit !important;
    height: 100% !important;
}

.global-header{
  border-bottom: 1px solid #142E58 !important;
}

.login-form{
  text-align: center;
}
.tip-input, .forgot-password{
  font-style: italic !important;
  font-size:small !important; 
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

.image-fondo {
  background-repeat: no-repeat;
  background-image: url("/static/sankt-henrik-school-theme/images/backgroun-imagen.jpg");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.login-container {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.login-container div {
  flex-direction: column !important;
  text-align: center !important;
}


.btn-signin {
  background-color: #EDEFF0 !important;
  color: #142E58;
  padding: 10px 20px;
}

.home-color{
  color: #fff !important;
}

.login-color{
  color: #fff !important;
  padding-left: 250px;
  padding-right: 250px;
}
h2, .home>header .title>.heading-group p{
  color: #fff;
}

header .global-header  {
  border-bottom: none;
}

input.input-block{
  text-align: center !important;
  color: #767676 !important;
  border-radius: 0 !important;
  font-family: $serif;
  font-size: 16px !important;
  font-weight: 900;
  height: 45px !important;
  border: none !important;
  margin: 30px auto 0 auto !important;
  text-shadow: none !important;
  webkit-box-shadow: #EDEFF0 !important;
  background: #EDEFF0 !important;
  background-color: #EDEFF0 !important;
}
.login-button{
  background-color: #158784 !important;
  color: #FFF !important;
  border-radius: 0 !important;
  height: 45px !important;
  border: none !important;
  margin: 0 auto !important;
  font-family: $serif;
  font-size: 16px !important;
  font-weight: 900;
}
.login-button:hover{
  background-color: #142E58 !important;
  color: #FFF !important;
}
@media (max-width: 600px) {
  .image-fondo-login{
    display: none;
  }
  .login-register{
    width: 100% !important;
  }
  .login-register input{
      display: block !important;
      width: 100% !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
  }

  
  .login-register .action-primary{
    display: block !important ;
    width: 100% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }


  section#login-anchor{
    display: block;
  }
  
}

@media (min-width: 600px) {
  .image-fondo-login {
    background-repeat: no-repeat;
    background-image: url("/static/sankt-henrik-school-theme/images/backgroun-imagen.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 65%;
  }

  .login-register{
    width: 35% !important;
  }
  .login-register input{
    width: 300px !important;
  }

  
  .login-register .action-primary{
    width: 300px !important;
  }
  section#login-anchor{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  
}

.image-fondo-login-logo {
  width: 78px;
  margin: 0 auto;
  position: relative;
  bottom: 20px;
}

.login-register .action-label, 
.login-register label{
  display: none !important;
  margin: 0px !important;
  color: transparent !important;
}

.login-register-content h2 {
  display: none !important;
  color: transparent !important;
}

.login-register .form-field .tip {

display: none !important;
color: transparent !important;
}

.login-register .form-field .field-link {
  margin: 0 auto !important;
  margin-bottom: 10px !important;
  position: relative;
  top: 65px;
}
div#password-reset-form,
div#login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    position: relative;
    top: 10px;
}

.login-register input{
  background-color: #EDEFF0 !important;
    text-align: center !important;
    color: #757576 !important;
    border-radius: 0 !important;
    height: 50px !important;
    border: none !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
}


.login-register .action-primary {
  background-color: #158784 !important;
  color: #FFF !important;
  border-radius: 0 !important;
  height: 50px !important;
  border: none !important;
  margin: 0 auto !important;
  position: relative;
  bottom: 20px;
}


h1{
  font-size: 32px !important;
  color: #1b3f6a;
}

h2{
  font-size: 16px !important;
  color: #1e9694 ;
}

h3{
  font-size: 20px !important;
  color: #333333;
}

body {
  font-size: 14px !important;
  color: #666666;
  font-family: $font-family-title;
}

section#password-reset-anchor,
div#password-reset-form{
  height: 100%;
  display: none;
  margin-top: 50%;
}

#password-reset-email{
  position: relative;
  bottom: 20px;
}


.wrapper-profile-section-one{
  border: none !important;
}
.u-field-title{
  color: #158784 !important;
  font-weight: normal !important;
}

.u-field{
  border: none !important;
  margin-bottom: 15px !important;
}
.tab-nav-link{
  text-transform: uppercase;
  font-weight: bold;
}
.u-field-bio{
  padding: 0 !important;
}
.u-field-title{
  font-size: 17.5px;
}

.profile-header {
  background-repeat:no-repeat;
  background-image:url("/static/sankt-henrik-school-theme/images/backgroun-imagen.jpg");
  background-size:cover;
  background-color: #142E58;
  position:relative;
  background-position:0 -300px;
  height:150px;
  width:100%;
  // margin-top: -24px !important;
 }

 @media (max-width: 320px){
  #content.content-wrapper{
    background-position:0 0;
  }
}

@media (max-width: 640px){
  #content.content-wrapper{
    background-position:0 -100px;
  }
}

@media (max-width: 850px){
  #content.content-wrapper{
    background-position:0 -150px;
  }
}

@media (max-width: 1152px){
  #content.content-wrapper{
    background-position:0 -250px;
  }
}
@media (min-width: 1152px){
  #content.content-wrapper{
    background-position:0 -300px;
  }
}
 .u-field-profile_image{
   position: relative !important;
   top: -130px !important;
   float: left !important;
 }
 .profile-section-one-fields{
   margin-top: 40px !important;;
 }
 .u-field-name{
   padding-bottom: 15px !important;
   border-bottom: 1px solid #E0E2E2 !important;
  font-family: $serif;
 }
 .profile-header .header, .profile-header .subheader{
  display: none !important;
}
.u-field-header span .fa{
  display: none !important;
}
.u-field-header{
  float: left !important;
}
.u-field-title, .u-field-title-bio{
  font-weight: lighter !important;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px !important;
}
.nav-links a{
  font-family: $serif !important;
  font-size: 14px !important;
  font-weight: 900 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: 0.14px !important;
}
header h2{
  font-family: $font-family-title !important;
  font-size: 16px !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: 0.16px !important;
  color: #666666 !important;
}
.search-button{
  background: $seconday-color !important;
  border-color: $seconday-color !important;
  color: #FFF !important;
}
.search-button:hover{
  color: $seconday-color !important;
  background: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
}
.empty-dashboard-message{
  border: solid 0.9px #e1e1e1;
  background-color: #f5f5f5;
}
.empty-dashboard-message p{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.14px;
  color: #666666;
}

.action-primary{
  background-color: $primary !important;
  border-color: $primary !important;
}

.action-secondary{
  background-color: #FFF !important;
  border-color: $primary !important;
  color: $primary;
}
.action-more, .enter-course{
  border-radius: 18px !important;
  background-color: $seconday-color !important;
  font-family: $serif !important;
  text-transform: uppercase;
  border: none !important;
  font-size: 16px !important;
  font-weight: bold !important;
  line-height: 2 !important;
  letter-spacing: 0.16px !important;
  text-align: left;
  color: #FFF !important;
  font-stretch: normal !important;
  font-style: normal !important;
}
.enter-course{
  padding: 5px 30px !important;
}
.action-more{
  padding: 5px 15px !important;
}
.course .details{
  background-image: url('/static/sankt-henrik-school-theme/images/logo-grey.png');
  background-size: 300px !important;
  background-repeat: no-repeat !important;
  background-position: right -70px top -20px !important;
}

.wrapper-course-actions{
  margin-top: 40px !important;
}
h3, h3 span, h3 a{
  font-family: $serif !important;
  color: $primary !important;
}
a .course-info{
  background-image: url('/static/sankt-henrik-school-theme/images/logo-grey.png');
background-size: 300px !important;
background-repeat: no-repeat !important;
background-position: right -70px top 60px !important;
}
.discovery-submit{
  background: $primary !important;
}
.help-link{
  display: none;
}
.profile-section-one-fields{
  top: -130px !important;
    position: relative !important;
}

.nav-item a.btn{
  padding: 10px !important;
}
.main .secondary{
  margin-top:10px !important;
}
.secondary div .nav-item{
  padding-top: 5px !important;
}
.register-btn:hover{
  color: #FFF !important;
}
.sign-in-btn:hover{
  color: $primary !important;
}

#password-reset-form{
  display: none;
}

#login-form div.toggle-form{
  display: none !important;
}
//div.wrapper-action-more{
//  display: none !important;
//}
//.wrapper-profile-field-account-privacy{
.wrapper-profile-records{
  display: none !important;
}


@media (max-width: 540px){
  .highlighted-courses .courses, .find-courses .courses{
    width: 100% !important;
  }
}
.nav-account-help{
  display: none;
}





.certificate-card.mode-honor .card-logo{
  background-image: url('/static/sankt-henrik-school-theme/images/logo.png') !important;
  background-size: 100px !important;
  background-repeat: no-repeat !important;
}

.certificate-card.mode-honor{
  border: 1px solid #e7e7e7 !important;
    border-radius: 3px !important;
    background-image: url('/static/sankt-henrik-school-theme/images/logo-grey.png');
    background-size: 300px !important;
    background-repeat: no-repeat !important;
    background-position: right -70px top -20px !important;
}
.card-title{
  font-family: $serif !important;
  color: $primary !important;
}

.action-certificate a.btn{
  background-color: $primary !important;
  border-color: $primary !important;
  text-transform: uppercase !important;
  font-family: $serif !important;
}

.wrapper-message-primary{
  float: left !important;
  position: relative !important;
}