$primary: {{ INDIGO_PRIMARY_COLOR }};

// Theme fonts
$font-family-title: Lato;
$serif: Merriweather;
$f-sans-serif: Merriweather, 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
$seconday-color: #1e9694;
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
