<script type="text/javascript">
function checkRecovery() {
var interval1 = null;
interval1 = window.setInterval(function(){
    if($("#password-reset-email" ).is(':visible')){
        $('#login-anchor').css("display","none");
        if($('#login-logo1').length===0){
            $('#password-reset-form').prepend('<img id="login-logo1" src="/static/sankt-henrik-school-theme/images/logo.png" class="image-fondo-login-logo"/>');
            clearInterval(interval1);   
        }
    }
    if($('#login-logo1').length>0){
        clearInterval(interval1);   
    }
}, 1);
}



function changeStyle() {
    if($('.window-wrap').length>0){
        $('.window-wrap').addClass('height-total');
    }
    if($('.login-button').length>0){
        $('.login-button').addClass('btn-confirm');
    }
    if($('.section-bkg-wrapper').length>0){
        $('.section-bkg-wrapper').addClass('height-total');
    }
    if($('#main').length>0){
        $('#main').addClass('height-total');
    }
    if($('.content-wrapper').length>0){
        $('.content-wrapper').css('padding','0px');
        $('.content-wrapper').css('margin-top','-23px');
        $('.content-wrapper').css('height','100%');
        $('.content-wrapper').css('border-bottom','none');
    }
    if($('.password-reset-anchor').length>0){
        $('.password-reset-anchor').css('height','100%');
    }
    if($('.global-header').length>0){
        $('.global-header').css('display','none');
    } 
}

function changeAttr() {
    if($('.image-fondo-login-logo').length===0){
        $('#login-form').prepend('<img id="login-logo" src="/static/sankt-henrik-school-theme/images/logo.png" class="image-fondo-login-logo"/>');
    }
    $('#login-email').attr('placeholder', 'USUARIO');
    $('#login-password').attr('placeholder', 'PASSWORD');
}

var interval = null;
interval = window.setInterval(function(){
    if( ($('.image-fondo-login-logo').length===0) && ($('#login-email').attr('placeholder')!=='USUARIO') && ($('#login-password').attr('placeholder') !='PASSWORD')){
        changeStyle();
        changeAttr();
    } else{
        clearInterval(interval);
    }
}, 1);

var interval0 = null;
interval0 = window.setInterval(function(){
    if($("#password-reset-email" ).is(':visible')){
        $('#login-anchor').css("display","none");
        if($('#login-logo1').length===0){
            $('#password-reset-form').prepend('<img id="login-logo1" src="/static/sankt-henrik-school-theme/images/logo.png" class="image-fondo-login-logo"/>');
            clearInterval(interval0);   
        }
    }
    if($('#login-logo1').length>0){
        clearInterval(interval0);   
    }
}, 1);


$(function() {
    changeStyle();
    changeAttr();
    checkRecovery();

    $('.password-password').on('click', 'button', function (e) {
        $('#password-reset-form').css("display", "block");
    });

});
$(document).ready(function() {
    changeAttr();
    changeStyle();
    checkRecovery();
});
</script>
<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module>
    % if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
    <script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
    % endif
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor
</%block>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
                <%include file="enterprise_sidebar.html" />
                <%
                    border_class = 'border-left'
                %>
            % else:
                <%
                    border_class = ''
                %>
            % endif
            <div class="image-fondo-login"> 
                <h1 class="login-color" style="text-align: left; font-weight: bold; font-family: Merriweather;">{{INDIGO_TITLE_MESSAGE}}</h1>
                <p class="login-color" style ="
                color: #BED0E4 !important;
                line-height: 1.6;
                ">{{INDIGO_SUBTITLE_MESSAGE}}</p>
            </div>
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
        </div>
    </main>
</div>
