<style>
.global-header {
    display: none;
}

</style>
<script>
    window.location.replace("https://aula.sankthenrikschool.cl/login");
    //$('.window-wrap').addClass('image-fondo');
</script>
<!--
<h1 class="home-color" style="    font-weight: bold; font-family: Merriweather;">{{INDIGO_TITLE_MESSAGE}}</h1>
<p class="home-color" style ="margin-bottom: 25px; margin-top: 25px;  color: #BED0E4 !important;
                line-height: 1.6;">{{INDIGO_SUBTITLE_MESSAGE}}</p>
<a class="btn-signin btn" href="/login?next=%2F">Iniciar Sesión</a>
-->
 